
body {
    background-color: rgb(123, 186, 207);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
#content {
    max-width: 1400px;
    background-color: white;
    margin: 0 auto;
}
nav footer{
    background-color: steelblue;
    padding: 20px;
    color:white
    text-align: center;
}
nav a {
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color:  white; 
    margin: 10px;
}
nav a:hover{
    background-color: hsl(195, 81%, 77%);
    color: blue;
}
h1{
    text-align: center;
}
img {
    width: 40%;
    display: block;
    margin: 10px auto
    
    
}
p{
    line-height: 2em;
    width: 50;
    margin: 0 auto;
    text-align: center;
}
#main-topic {
    color: steelblue;
}
footer{
    margin-top: 50px;
}
footer a{
    color: white;
}
